nav {
  height: 70px;
  overflow: hidden;
}

.content-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* nav tags  ---------------------------------  */
.nav-logo-content {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo-nav {
  padding: 12px;
  font-size: 2rem;
  user-select: none;
}

.logo-nav .logo-i {
  color: var(--primary-color);
}

/* btn to go sellers */
.btn-seller-nav button {
  padding: 10px 16px;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: #403dc7;
  color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.btn-seller-nav button:hover {
  background-color: var(--primary-color);
}

/* search container */
.search-nav {
  width: 430px;
  height: 40px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgb(117, 115, 115);
}

.search-nav input {
  width: 88%;
  outline: none;
  border: none;
  padding: 8px;
  background-color: #fff;
}

.svg-search-nav {
  width: 12%;
  display: flex;
  height: 100%;
  border-left: 1px solid rgb(117, 115, 115);
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  justify-content: center;
}

.svg-search-nav svg {
  width: 25px;
  height: 25px;
  fill: var(--primary-color);
}

/* user cart , profile */
.nav-option-user {
  display: flex;
  height: 100%;
  width: 130px;
  justify-content: space-between;
  align-items: center;
}

.cart-nav {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65px;
  user-select: none;
  cursor: pointer;
}

.cart-nav svg {
  width: 25px;
  height: 25px;
}

.cart-nav {
  color: var(--primary-color);
  font-size: 1.3rem;
}

.btn-buyer-nav {
  width: 50px;
  cursor: pointer;
  height: 50px;
}

.btn-buyer-nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* start nav responsve  */
@media screen and (max-width: 850px) {
  .search-nav {
    width: 350px;
    transition: width 0.5s ease;
  }

  .btn-seller-nav button {
    padding: 7px 12px;
    font-size: 0.9rem;
  }

  .nav-logo-content {
    width: 200px;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 650px) {
  .search-nav {
    width: 40px;
    transition: width 0.5s ease;
  }

  .search-nav input {
    display: none;
  }

  .svg-search-nav {
    width: 100%;
    border: 0;
  }

  .search-nav:hover {
    width: 100%;
    position: absolute;
    z-index: 10;
    border-radius: 0;
    box-shadow: 15px 2px 5px 15px rgb(187, 187, 187);
  }

  .search-nav:hover input {
    display: inline;
  }

  .search-nav:hover .svg-search-nav {
    width: 12%;
    border-left: 1px solid rgb(117, 115, 115);
  }

  .nav-logo-content {
    width: 200px;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 400px) {
  .btn-seller-nav button {
    padding: 5px 8px;
    font-size: 0.7rem;
  }

  .nav-logo-content {
    width: 170px;
  }
}
